name: publish
on:
    release:
        types: [published] 
    
    workflow_dispatch:

jobs:
    pypi-publish:

        name: Upload release to PyPI
        runs-on: ubuntu-latest

        environment:
            name: pypi
            url: https://pypi.org/p/mcp-server-for-oscal
        permissions:
            id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
        # retrieve your distributions here
        steps:
        -   name: Download release assets
            env:
                GH_TOKEN: ${{ github.token }}
            run: |
                mkdir dist
                gh release download ${{ github.event.release.tag_name }} \
                -D dist/ \
                --pattern "*.whl" \
                --pattern "*.tar.gz"


        -   name: Publish package distributions to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
                repository-url: https://test.pypi.org/legacy/
